@media screen and (min-width: 320px) {

    main {
        max-width: 960px;
        margin: 0 auto; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .hamburger {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 48px auto 88px;
        align-items: center;
    }
    
    .logo {
        cursor: pointer;
        grid-column: 1 / 2;
        padding-left: 1rem;
    }
    
    .big-heading {
        grid-column: 2 / 3;
        text-align: center;
    }
    
    .small-heading {
        font-size: 1rem
    }
    
    .toggle-dark-mode {
        grid-column: 3 / 4;
        font-size: 2rem;
    }

    .navigation, .navigation.show {
        grid-template-rows: 1fr;
        font-family: "Roboto Condensed", serif;
    }

    .navigation ul {
        display: flex;
        justify-content: end;
     }
    
    .navigation ul li a {
        padding: 1rem;
        text-align: center;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        font-family: "Roboto Condensed", serif;
    }

    .social-media {
        align-self: center;
    }

    #directory {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    #events-weather {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1 / 4;
    }

    #business-highlights {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    main#join {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main#thank-you {
        display: block;
    }

    form.join-form {
        grid-column: 1 / 2;
        margin: 1rem auto;
        width: 320px;
    }

    div.membership {
        margin-top: 5rem;
        justify-self: center;
    }

    section.indv-membership {
        max-width: 320px;

    }

    .modal {
        max-width: 33%;
    }
}